@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

header{
    height: 71px;
    width: 100%;
    position: fixed;
    z-index: 100000;
}

.logo-menu{
    height: 55px;
    margin: 8px 5%;
}
.sec-menu{
    float: left;

}

.list-menu{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700 !important;
    font-size: 17px !important;
    display: inline-flex;
    height: 71px;
    float: right;
}

li{
    margin: auto 0;
}

a{
    color: black !important;
    transition: all .4s ease !important; 
}

a:hover{
    color: #00A8B1 !important;
}

/* INPUT BUSQUEDA MENU */
.input-menu {
	outline: none;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}
#form-menu input[type=search] {
    height: 50px;
    width: 55px;
	color: transparent;
    cursor: pointer;
    background: #00a8b1 url(../img/iconos/lupa.png) no-repeat 9px center;
    background-size: 40px;
    background-position: center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 10px;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
    transition: all .5s;
    -webkit-appearance: textfield;
    appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
	font-family: inherit;
    font-size: 100%;
    
}
#form-menu input[type=search]:hover {
	background-color: #27c5cd;
}
#form-menu input[type=search]:focus {
    background-position-x: 9px;
    background-size: 25px;
	width: 130px;
	padding-left: 40px;
	color: #ffff;
	background-color: #00a8b1;
    cursor: auto;
	border-color: #66CC75;
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}
#form-menu input:-moz-placeholder {
	color: transparent;
}
#form-menu input::-webkit-input-placeholder {
	color: transparent;
}

