@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

/*------------------------------------MENU------------------------------------*/
header{
    height: 71px;
    width: 100%;
    position: fixed;
    z-index: 100000;
    background-color: #ffff;
}
.logo-menu{
    height: 55px;
    margin: 8px 5%;
}
.sec-menu{
    float: left;
}
.list-menu{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700 !important;
    font-size: 17px !important;
    display: inline-flex;
    height: 71px;
    float: right;
}
li{
    margin: auto 0;
}
a{
    color: black !important;
    transition: all .4s ease !important; 
}
a:hover{
    color: #00A8B1 !important;
}
.input-menu {
	outline: none;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}
#form-menu input[type=search] {
    height: 50px;
    width: 55px;
	color: transparent;
    cursor: pointer;
    background: #00a8b1 url(../img/iconos/lupa.png) no-repeat 9px center;
    background-size: 40px;
    background-position: center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 10px;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
    transition: all .5s;
    -webkit-appearance: textfield;
    appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
	font-family: inherit;
    font-size: 100%;
    
}
#form-menu input[type=search]:hover {
	background-color: #27c5cd;
}
#form-menu input[type=search]:focus {
    background-position-x: 9px;
    background-size: 25px;
	width: 130px;
	padding-left: 40px;
	color: #ffff;
	background-color: #00a8b1;
    cursor: auto;
	border-color: #66CC75;
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}
#form-menu input:-moz-placeholder {
	color: transparent;
}
#form-menu input::-webkit-input-placeholder {
	color: transparent;
}

/*------------------------------------Slider------------------------------------*/
.swiper-container {
    width: 100%;
    height: 100vh;
    position: absolute !important;
}

.slide-div-main{
    position: absolute;
    margin-left: 5%;
}

.slide-div-logo{
    position: relative;
    z-index: 2;
    width: 500px;
    margin: 150px 0% 30px 0%;  
}

.imgslide-div-logo{
    height: inherit;
    width: inherit;
}

.slide-div-content{
    position: relative;
    width: 530px;
    margin: 35px 0% 0px 0%;
    z-index: 2;
}
.pslide-div-content{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.btnslide-div-content{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #ffff;
    background-color: #ff0099;
    border: none;
    padding: 10px 8px;
    transition: all .4s ease !important;
    cursor: pointer;
}

.btnslide-div-content:hover{
    background-color: #cc037d;
}

/*----------------------------Destinos Turísticos------------------------------*/

.slider-size{
    height: 380px!important;
}

.cho-25{
    background-image: url('../img/destinos/CHO-25.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position-y: 50%; 
}

.fue-3{
    background-image: url('../img/destinos/FUE-3.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position-y: 50%; 
}

.bad-2{
    background-image: url('../img/destinos/BAD-2.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position-y: 50%; 
}

.slide-div-content-destinos{
    position: relative;
    z-index: 2;
}
.parrafo-slide-div-content{
    margin-top: 200px; 
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
}

.slide-div-contenido{
    position: absolute;
    margin-left: 33%;
    margin-right: 33%
}
